﻿@using TrialDay.Project.Web.Startup
@model IList<TrialDay.Project.Web.Models.Article.ArticleListViewModel>
@{
	ViewBag.CurrentPageName = PageNames.Article; // The menu item will be active for this page.
}

@section Scripts
{
	<script src="~/view-resources/Views/Article/Index.js" asp-append-version="true"></script>
}

<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="header">
				<h2>
					@L("Article")
				</h2>
				<ul class="header-dropdown m-r--5">
					<li class="dropdown">
						<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="material-icons">more_vert</i>
						</a>
						<ul class="dropdown-menu pull-right">
							<li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("Refresh")</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="body table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>@L("Title")</th>
							<th>@L("Abstract")</th>
							<th>@L("Autor")</th>
							<th>@L("Publication Date")</th>
							<th>@L("Source")</th>
							<th>@L("Description")</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var article in Model)
						{
							<tr>
								<td>@article.Title</td>
								<td>@article.Abstract</td>
								<td>@article.Authors</td>
								<td>@article.PublicationDate</td>
								<td>@article.Source</td>
								<td>@article.Description</td>
								<td class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										<i class="material-icons">menu</i>
									</a>
									<ul class="dropdown-menu pull-right">
										<li><a href="#" class="waves-effect waves-block edit-article" data-article-id="@article.ID" data-toggle="modal" data-target="#ArticleEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
										<li><a href="#" class="waves-effect waves-block delete-article" data-article-id="@article.ID"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
									</ul>
								</td>
							</tr>
						}
					</tbody>
				</table>
				<button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#ArticleCreateModal">
					<i class="material-icons">add</i>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="ArticleCreateModal" tabindex="-1" role="dialog" aria-labelledby="ArticleCreateModal" data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					<span>Create New Article</span>
				</h4>
			</div>
			<div class="modal-body">
				<form name="roleCreateForm" role="form" novalidate class="form-validation">
					<div class="row clearfix">
						<div class="col-sm-12">
							<div class="form-group form-float">
								<div class="form-line">
									<input id="title" type="text" name="title" required maxlength="32" minlength="2" class="validate form-control">
									<label for="title" class="form-label">Article Title</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row clearfix">
						<div class="col-sm-12">
							<div class="form-group form-float">
								<div class="form-line">
									<input id="abstract" type="text" name="abstract" required maxlength="32" minlength="2" class="validate form-control">
									<label for="abstract" class="form-label">Abstract</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-sm-12">
							<div class="form-group form-float">
								<div class="form-line">
									<input id="authorName" type="text" name="authors" required maxlength="32" minlength="2" class="validate form-control">
									<label for="authorName" class="form-label">Author Name</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-sm-12">
							<div class="form-group form-float">
								<div class="form-line">
									<input id="creationTime" type="text" name="creationTime" required maxlength="32" minlength="2" class="validate form-control">
									<label for="creationTime" class="form-label">CreationTime</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row clearfix">
						<div class="col-sm-12">
							<div class="form-group form-float">
								<div class="form-line">
									<input id="publicationDate" type="text" name="publicationDate" required maxlength="32" minlength="2" class="validate form-control">
									<label for="publicationDate" class="form-label">Publication Date</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row clearfix">
						<div class="col-sm-12">
							<div class="form-group form-float">
								<div class="form-line">
									<input id="source" type="text" name="source" required maxlength="32" minlength="2" class="validate form-control">
									<label for="source" class="form-label">Source</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-float">
								<div class="form-line">
									<textarea id="description" name="description" class="validate form-control"></textarea>
									<label for="description" class="form-label">Description</label>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
						<button type="submit" id="save" class="btn btn-primary waves-effect">@L("Save")</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="ArticleEditModal" tabindex="-1" role="dialog" aria-labelledby="ArticleEditModal" data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">
					<span>Edit Article</span>
				</h4>
			</div>
			<div class="modal-body">
				<form name="roleCreateForm" role="form" novalidate class="form-validation">
					<input id="editId" type="hidden" name="id" />
					<div class="row clearfix">
						<div class="col-sm-12">
							<div class="form-group form-float">
								<div class="form-line focused">
									<input id="edittitle" type="text" name="title" required maxlength="32" minlength="2" class="validate form-control">
									<label for="title" class="form-label">Article Title</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row clearfix">
						<div class="col-sm-12">
							<div class="form-group form-float">
								<div class="form-line focused">
									<input id="editabstract" type="text" name="abstract" required maxlength="32" minlength="2" class="validate form-control">
									<label for="abstract" class="form-label">Abstract</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-sm-12">
							<div class="form-group form-float">
								<div class="form-line focused">
									<input id="editauthorName" type="text" name="authorName" required maxlength="32" minlength="2" class="validate form-control">
									<label for="authorName" class="form-label">Author Name</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row clearfix">
						<div class="col-sm-12">
							<div class="form-group form-float">
								<div class="form-line focused">
									<input id="editcreationTime" type="text" name="creationTime" required maxlength="32" minlength="2" class="validate form-control">
									<label for="creationTime" class="form-label">CreationTime</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row clearfix">
						<div class="col-sm-12">
							<div class="form-group form-float">
								<div class="form-line focused">
									<input id="editpublicationDate" type="text" name="publicationDate" required maxlength="32" minlength="2" class="validate form-control">
									<label for="publicationDate" class="form-label">Publication Date</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row clearfix">
						<div class="col-sm-12">
							<div class="form-group form-float">
								<div class="form-line focused">
									<input id="editsource" type="text" name="source" required maxlength="32" minlength="2" class="validate form-control">
									<label for="source" class="form-label">Source</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-float">
								<div class="form-line focused">
									<textarea id="editdescription" name="description" class="validate form-control"></textarea>
									<label for="description" class="form-label">Description</label>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
						<button type="submit" id="update" class="btn btn-primary waves-effect">Update</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>



